body {
  background-color: #00091f;
  font-family: sans-serif;
  margin: 30px;
}

main {
  display: flex;
}

h2 {
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

h1 {
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  letter-spacing: 1px;
}

.image-mobile{
  display: none;
}

.image-pc {
  width: 450px;
  height: auto;
}

.div-form {
  margin-left: 300px;
  margin-top: 30px;
}
span {
  color: #0014c5;
}

form {
  border: 1px solid #0014c5;
  color: #fff;
  margin: 0 auto;
  width: 95%;
  padding: 10px;
  border-radius: 20px;
}

p {
  font-size: 35px;
}

.box-campos {
  border: solid 1px #fff;

  border-radius: 20px;
  padding: 15px;
}

.title {
  color: #fff;
  text-align: center;
}

.campo-form {
  margin: 15px;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #5a5af5;
}

button[type="submit"] {
  background-color: #0014c5;
  color: #fff;
  padding: 0.5rem 10.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 15px;
}

button[type="submit"]:hover {
  background-color: transparent;
  border: 2px solid #0014c5;
}

@media screen and (max-width: 450px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .box-campos{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



  .div-form {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    border: 0px;
  }

  .image-pc {
    display: none;
  }

  .image-mobile {
    display: block;
    margin-bottom: 3rem;
    width: 140px;
    height: auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 50%;
  }

  form label {
    display: none;
  }

  .campo-form{
    margin-left: 0;
    margin-right: 0;
  }

  
  body {
    margin: 20px;
  }

  h2 {
    margin: 0px;
    font-size: 22px;
  }

  .title{
    font-size: 30px;
    color: #0014c5;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 90%;
    padding: 10px;
    border: 0;
    
  }

  button[type="submit"] {
    padding: 1rem 7rem;
    border-radius: 40px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    padding: 0.8rem;
    border-radius: 30px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    width: 98%;
  }

  textarea{
    width: 100%;
  }
}
